
RefactorToCloud.aux

RefactorToCloud.log

RefactorToCloud.synctex.gz

RefactorToCloud.bbl

*.blg

RefactorToCloud.synctex.gz(busy)

RefactorToCloud.bbl

RefactorToCloud.pdf

*.out

*.log

sig-alternate.log

RefactorToCloud_CameraReady.aux

RefactorToCloud_CameraReady.bbl

RefactorToCloud_CameraReady.pdf

RefactorToCloud_CameraReady.synctex.gz

RefactorToCloud_CameraReady.tex

sig-alternate.cls

refs.log

refs.log
